.vim/swaps/*
.vim/undo/*
.vim/backups/*
/root/.vim/.netrwhist
ssh/*
!ssh/.keep
!.vim/swaps/.keep
!.vim/undo/.keep
!.vim/backups/.keep
root/.w-locations
YouCompleteMe
.vim/plugged
tags
!*/tags
chrome-overrides
