[submodule "root/.tmux/plugins/tpm"]
	path = root/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
[submodule "root/.zplug"]
	path = root/.zplug
	url = https://github.com/zplug/zplug
	branch = master
