# ignore chrome devtool's local overrides
chrome-overrides

*.bak

# ignore files made by the tmux-resurrect plugin
*/.tmux/resurrect

# Ignore gitcrypt files
*.crypt
*.crypt.*

# Ignore local files
*.local.*

# Ignore stupid mac files
.DS_Store

# ctags
tags
!*/tags

# vim stuff
.vim/plugged
.vim/.netrwhist

# these folders are depended on by my vimrc
.vim/swaps/*
!.vim/swaps/.keep
.vim/undo/*
!.vim/undo/.keep
.vim/backups/*
!.vim/backups/.keep
gutentags
