[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/vim-action-ag"]
	path = bundle/vim-action-ag
	url = git@github.com:Chun-Yang/vim-action-ag.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/vim-easyclip"]
	path = bundle/vim-easyclip
	url = git@github.com:svermeulen/vim-easyclip.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
