.vim/swaps/*
.vim/undo/*
.vim/backups/*
/root/.vim/.netrwhist
ssh/*
!ssh/.keep
!.vim/swaps/.keep
!.vim/undo/.keep
!.vim/backups/.keep
root/.w-locations
YouCompleteMe
.vim/plugged
tags
!*/tags
chrome-overrides
*.bak
*/.tmux/resurrect

# Ignore gitcrypt files
*.crypt
*.crypt.*

# Ignore local files
*.local.*

# Ignore stupid mac files
.DS_Store
