[user]
  email = veryveryeasily@gmail.com
  name = Luke Underwood
[push]
  default = simple
[alias]
  # the acronym stands for "subtree add"
  subtreeadd = "!f() { git subtree add --prefix $2 $1 master --squash; }; f"
  # the acronym stands for "subtree update"
  subtreeupdate = "!f() { git subtree pull --prefix $2 $1 master --squash; }; f"
  co = "checkout"
  log-pretty = "log --graph --pretty --abbrev-commit"
[github]
  user = veryeasily
[core]
  excludesfile = /Users/hi/.gitignore_global
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
  tool = gvimdiff3
[submodule]
	fetchJobs = 8
